<?xml version="1.0" encoding="UTF-8"?>
	<launch>

        <include file="$(find quadruped_gazebo)/launch/spawn_robot.launch"/>
        
		<include file="$(find quadruped_control)/launch/quadruped_control.launch"/>
		
		<node name="controller" pkg="quadruped_driver" type="simulation_controller.py" output="screen"/>
		
		<node name="teleop_twist" pkg="quadruped_driver" type="teleop_twist_keyboard.py" output="screen"/>

    </launch>
